In [24]:
import warnings
warnings.filterwarnings(action='ignore')

In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [26]:
data=pd.read_csv("NaN_Housing_Prices.csv")
data.head()

,Sale_Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),...,Waterfront_View_Yes,Zipcode_Group_Zipcode_Group_1,Zipcode_Group_Zipcode_Group_2,Zipcode_Group_Zipcode_Group_3,Zipcode_Group_Zipcode_Group_4,Zipcode_Group_Zipcode_Group_5,Zipcode_Group_Zipcode_Group_6,Zipcode_Group_Zipcode_Group_7,Zipcode_Group_Zipcode_Group_8,Zipcode_Group_Zipcode_Group_9
0,221900.0,3,1.00,1180.0,5650.0,1.0,NaN,7,1180.0,NaN,...,0,0,0,0,0,0,0,0,0,0
1,538000.0,3,2.25,2570.0,7242.0,2.0,NaN,7,2170.0,400.0,...,0,0,1,0,0,0,0,0,0,0
2,180000.0,2,1.00,770.0,10000.0,1.0,NaN,6,770.0,NaN,...,0,0,1,0,0,0,0,0,0,0
3,604000.0,4,3.00,1960.0,5000.0,1.0,NaN,7,1050.0,910.0,...,0,0,0,1,0,0,0,0,0,0
4,510000.0,3,2.00,1680.0,8080.0,1.0,NaN,8,1680.0,NaN,...,0,0,0,0,1,0,0,0,0,0

In [27]:
data.isnull().sum()

Sale_Price                                       0
No of Bedrooms                                   0
No of Bathrooms                                  0
Flat Area (in Sqft)                              0
Lot Area (in Sqft)                               0
No of Floors                                     0
No of Times Visited                          19485
Overall Grade                                    0
Area of the House from Basement (in Sqft)        0
Basement Area (in Sqft)                      13123
Age of House (in Years)                          0
Latitude                                         0
Longitude                                        0
Living Area after Renovation (in Sqft)           0
Lot Area after Renovation (in Sqft)              0
Years Since Renovation                       20695
Condition_of_the_House_Excellent                 0
Condition_of_the_House_Fair                      0
Condition_of_the_House_Good                      0
Condition_of_the_House_Okay                      0
Ever_Renovated_Yes                               0
Waterfront_View_Yes                              0
Zipcode_Group_Zipcode_Group_1                    0
Zipcode_Group_Zipcode_Group_2                    0
Zipcode_Group_Zipcode_Group_3                    0
Zipcode_Group_Zipcode_Group_4                    0
Zipcode_Group_Zipcode_Group_5                    0
Zipcode_Group_Zipcode_Group_6                    0
Zipcode_Group_Zipcode_Group_7                    0
Zipcode_Group_Zipcode_Group_8                    0
Zipcode_Group_Zipcode_Group_9                    0
dtype: int64

### Missing Value Ratio

In [28]:
#lets keep threeshold value as 0.7

for i in data.columns:
    tmp=data[i].isnull().sum()/len(data)
    if tmp >0.7:
        print("Removing Column : "+i +"with missing value ratio",tmp)
        data=data.drop(columns=[i])

Removing Column : No of Times Visitedwith missing value ratio 0.9017076218242399
Removing Column : Years Since Renovationwith missing value ratio 0.9577028090147623

### LOW Variance

In [29]:
data1=pd.read_csv("Raw_Housing_Prices.csv")
data1.head()

,ID,Date House was Sold,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,No of Times Visited,...,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft)
0,7129300520,14 October 2017,221900.0,3,1.00,1180.0,5650.0,1.0,No,None,...,7,1180.0,0,63,0,98178.0,47.5112,-122.257,1340.0,5650
1,6414100192,14 December 2017,538000.0,3,2.25,2570.0,7242.0,2.0,No,None,...,7,2170.0,400,67,1991,98125.0,47.7210,-122.319,1690.0,7639
2,5631500400,15 February 2016,180000.0,2,1.00,770.0,10000.0,1.0,No,None,...,6,770.0,0,85,0,98028.0,47.7379,-122.233,2720.0,8062
3,2487200875,14 December 2017,604000.0,4,3.00,1960.0,5000.0,1.0,No,None,...,7,1050.0,910,53,0,98136.0,47.5208,-122.393,1360.0,5000
4,1954400510,15 February 2016,510000.0,3,2.00,1680.0,8080.0,1.0,No,None,...,8,1680.0,0,31,0,98074.0,47.6168,-122.045,1800.0,7503

In [30]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID                                         21613 non-null  int64
 1   Date House was Sold                        21613 non-null  object
 2   Sale Price                                 21609 non-null  float64
 3   No of Bedrooms                             21613 non-null  int64
 4   No of Bathrooms                            21609 non-null  float64
 5   Flat Area (in Sqft)                        21604 non-null  float64
 6   Lot Area (in Sqft)                         21604 non-null  float64
 7   No of Floors                               21613 non-null  float64
 8   Waterfront View                            21613 non-null  object
 9   No of Times Visited                        21613 non-null  object
 10  Condition of the House                     21613 non-null  object
 11  Overall Grade                              21613 non-null  int64
 12  Area of the House from Basement (in Sqft)  21610 non-null  float64
 13  Basement Area (in Sqft)                    21613 non-null  int64
 14  Age of House (in Years)                    21613 non-null  int64
 15  Renovated Year                             21613 non-null  int64
 16  Zipcode                                    21612 non-null  float64
 17  Latitude                                   21612 non-null  float64
 18  Longitude                                  21612 non-null  float64
 19  Living Area after Renovation (in Sqft)     21612 non-null  float64
 20  Lot Area after Renovation (in Sqft)        21613 non-null  int64
dtypes: float64(10), int64(7), object(4)
memory usage: 3.5+ MB

In [31]:
numerical_data=data1.drop(columns=['ID','Date House was Sold','Sale Price','Waterfront View',
                                    'No of Times Visited','Condition of the House','Overall Grade','Zipcode'])

numerical_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 13 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   No of Bedrooms                             21613 non-null  int64
 1   No of Bathrooms                            21609 non-null  float64
 2   Flat Area (in Sqft)                        21604 non-null  float64
 3   Lot Area (in Sqft)                         21604 non-null  float64
 4   No of Floors                               21613 non-null  float64
 5   Area of the House from Basement (in Sqft)  21610 non-null  float64
 6   Basement Area (in Sqft)                    21613 non-null  int64
 7   Age of House (in Years)                    21613 non-null  int64
 8   Renovated Year                             21613 non-null  int64
 9   Latitude                                   21612 non-null  float64
 10  Longitude                                  21612 non-null  float64
 11  Living Area after Renovation (in Sqft)     21612 non-null  float64
 12  Lot Area after Renovation (in Sqft)        21613 non-null  int64
dtypes: float64(8), int64(5)
memory usage: 2.1 MB

In [32]:
from sklearn.preprocessing import Normalizer
norm=Normalizer()


norm_Data=norm.fit_transform(numerical_data)
norm_Data=pd.DataFrame(norm_Data,columns=numerical_data.columns)
norm_Data.head()

ValueError: Input X contains NaN.
Normalizer does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values